.h1,
h1 {
    font-size: 2.25em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.login {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 5em 1em;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.register-link {
    text-decoration: none;
}

.submitbutton {
    border: 0;
    background: #120348;
    color: white;
    padding: .5em 2em;
    border-radius: .25rem;
}


.form-control {
    display: block;

    font-size: 1rem;
    font-weight: 400;
    /* background-clip: padding-box; */
    border: 1px solid #000000;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow: hidden;
    margin-bottom: 1em;
}

.form-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .3em 2em;
    border: 0;
    outline: none;
    appearance: none;
    border-radius: 0;
    height: 2.5em;
}


.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}


.previousprintstext {
    position: absolute;
    background: white;
    bottom: 0;
    border-radius: 0 3em 0 0;
    padding: 2em 6em 2em 3em;

}

.previousprintstitle {
    font-size: 2em;
}

.previousprintslabel {
    vertical-align: super;
    font-size: .5em;
}

.previousprintsitem {
    color: rgb(184, 182, 182);
    display: block;
    font-weight: 700;
}

.selected {
    color: black;

}

.previousprints img {
    width: 100%;
}

.leftView {
    box-sizing: border-box;
    padding: 2em;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightView { 
    width: 40%;
    display: flex;
    flex-direction: row-reverse
}

.leftView>img {
    max-width: 400px;
    width: 100%;
}